/* Template App styles with imported google font */

.appBody {
  font-size: 62.5%;
  margin: auto;
  height: 100vh;

}

#header {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.App {
  text-align: center;
}

