@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* nav bar flex boxes and styling */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4vh 2.4vw;
  min-width: 20vw;
}

#navGroup {
  display: flex;
  list-style-type: none;
}

.navLinks {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  padding: 3vw;
  text-decoration: none;
  text-align: center;
  color: black;
}

.navLinks:hover {
  text-decoration: underline;
}

#logo:hover {
  transform: scale(1.1);
}
